:root {
    --light-green: #D9EDE5;
    --green: #008755;
    --dark-green: #13322B;
    --orange: #F16836;
    --white: #FFFFFF;
}

body {
    max-width: 25rem;
    margin: auto;
    padding: 0 1rem;
}

li {
    list-style: none;
    color: auto;
}

/* HEADER */

.header-content {
    display: none
}

@media (min-width: 960px) {
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        width: 48rem
    }

    .miniheader {
        display: flex;
        justify-content: space-between;
    }
}
    

.contact {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 20rem;
}

.logo {
    width: 11rem;
}

@media (min-width: 768px) {
    .logo {
        width: 20rem;
    }
}

.nav > li {
    border: #13322B solid 1px;
    padding: 0.5rem;
    text-align: center;
    color: var(--green);
    
    
}

.nav > li:hover {
    background-color: var(--light-green);
}


@media (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-between;
        width: 20rem;
    }

    .nav > li {
        border: none;
        padding: 0;
    }

}

@media (min-width: 960px) {
    body {
        max-width: 90rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }
}






































/* .header-content, .contact {
    display: flex;
    justify-content: space-between;
}

.contact {
    width: 17rem;
}

.miniheader {
    display: flex;
    justify-content: space-between;
}

.header-content {
    width: 50rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 50rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--white);
}


button {
    background-color: var(--orange);
    color: var(--white);
    padding: 1rem 2rem;
    border: none;
}

/* FOOTER */

/* footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-green);
    color: var(--white);
}

li {
    list-style: none;
} */ 